.employee_left{
	width: 253px;
	margin-left: 20px;
}
.employee_left_inner{
	padding: 
}
.employee_right{
	padding: 3px 0 0 16px;
}
.employee_text_type1, .employee_text_type2{
	font-size: 12px;
	line-height: 15px;
}
.employee_text_type1{
	color: #b3b3b3;
}
.employee_text_type2{
	color: #41a9be;
}
.employee_text_type3{
	font-size: 14px;
	line-height: 16px;
	color: #858585;
}

.title2{
	font-size: 16px;
	line-height: 22px;
	color: #5d6d79;
	margin-bottom: 20px;
}
.title3{
	color: #536471;
	font-size: 14px;
	line-height: 16px;
}
.title6{
	font-size: 14px;
	line-height: 29px;
	color: #41a9bf;
}
.employee_left_inner{
	padding: 27px 10px;
}
.employee_title1{
	margin: 10px 0 0 28px;
}
.mb1{margin-bottom: 10px;}
.mb2{ margin-bottom:20px;}
.mb3{ margin-bottom:17px;}
.mb4{ margin-bottom:25px;}
.mb5{ margin-bottom:13px;}
.mb6{ margin-bottom:35px;}
.employee_left .details{

	background: #38b8d1 url(../images/details_after.png) 20% center no-repeat;

	padding: 7px 22px 7px 10px;
}
.employee_left .details:before{
	position: relative;
	left:-10px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	
>>>>>>> 4d9705693549cf7c81178ae0fede52da1c42c828
}

.employee_left .details:after{
	display: none;
}
.report_item{
	font-size: 14px;
	line-height: 27px;
	color: #41a9bf;
	text-transform: uppercase;
	text-decoration: underline;
	letter-spacing: -0.5px;
}
.report_item:hover{
	text-decoration: none;
	color: #08778e;
}
.report_text{
	font-size: 14px;
	line-height: 22px;
	color: #808080;
}
.report_list{
	padding: 24px 0 32px 31px;
}
.report_list li{
	padding-left: 20px;
	background: url(../images/reports_icon.png) 0 center no-repeat;
}
.report_box_title{
	margin-top:15px;
}
/*---------Banking_details-------------------*/
[ class*="banking_box"]{
	border-bottom: 1px solid #e4e4e4;
	color: #8a8a8a;
	font-size: 14px;
	line-height: 29px;
	padding-left:20px;
	letter-spacing: -0.5px;
}
.banking_box_last{
	border-bottom: none;
}
.bankdetails_box{
	width: 720px;
}
[ class*="banking_img"]{
	width: 155px;

}
.banking_img-1{
	padding: 28px 80px 20px 0px;
}
.banking_img-2, .banking_img-3{
	padding: 103px 80px 20px 0px;
}
.banking_img-3{
	padding: 143px 80px 20px 0px;
}
.banking_title{
	margin: 21px 0 23px 22px;
}
.banking_details_list{
	margin-bottom: 30px;
}
.payment_description{
	margin-bottom: 26px;
}
.bankdetails_box .details{
	background: url(../images/printer_img.png) 9px 2px no-repeat #38b8d1;
	padding:7px 21px 5px 57px;
	margin:0 0 10px 6px;
}
.bankdetails_box .details:after{
	display: none;
}
