.employee_left{
	width: 266px;
}
.employee_left_inner{
	padding: 
}
.employee_right{
	padding: 22px 0 0 22px;
}
.employee_text_type3{
	font-size: 14px;
	line-height: 16px;
	color: #858585;
}
.employee_right{
	width: 700px;
}
.title2{
	font-size: 16px;
	line-height: 22px;
	color: #5d6d79;
}
.title3{
	color: #536471;
	font-size: 14px;
	line-height: 16px;
}
.employee_left_inner{
	padding: 20px 10px 10px 5px;
}
.employee_title1{
	margin: 10px 0 0 28px;
}
